/**
 * Block Styles
 *
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

// Example block front-end styles.
.wp-block-wholesomecode-wholesome-boilerplate {
	background-color: #000000;
	color: #ffffff;
	padding: 2px;
}
